@use './variables' as *;

.game-viewport {
  position: relative;
  border: 4px solid $wood-light;
  outline: 4px solid $wood-border;
  border-radius: 12px;
  box-shadow: 
    0 16px 36px rgba(0, 0, 0, 0.6),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #2b4926;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: block;
  line-height: 0;

  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;
  }
}
